nav {
    font-family: 'Lemonada', cursive;
    background-color: #1dabb8 !important;
}
.lan {
    margin-left: -20px;
}
.img {
    margin-top: 0px;
    margin-bottom: 0px;
}
.tab {
    margin-bottom: -20px;
}
.warn {
    color: #c82333;
    background-color: #9fcdff;
}
